CN=pokl.cz
PRIVKEY_CMD="ecparam -genkey -name prime256v1 -out %s"
CERT_DIR=/etc/nginx/certs
SUBJECT="/C=CZ/ST=Prague/L=Prague/O=pokl.cz/emailAddress=$SUBJECT_EMAIL/CN=$CN"
WEBROOT_DIR=/srv/www/$CN/site
DOMAINS="www=pokl.cz,www.pokl.cz,beef.xss.sk"
